fastapi
uvicorn[standard]
python-dotenv
python-multipart
pydantic

langchain
langchain-core
langchain-community
langgraph

langchain-groq
groq

langchain-huggingface
sentence-transformers

langchain-chroma
chromadb

youtube-transcript-api
tiktoken

numpy
pandas